body
{
    background-color: #1F1F1F;
    color: #E7E7E7;
    font-family: 'PingFang TC','微軟正黑體',Georgia, 'Times New Roman', Times, serif;
}
ul 
{
    list-style-type:disc;
    font-family: 'PingFang TC','微軟正黑體',Georgia, 'Times New Roman', Times, serif;
}


.bar div ul
{
    font-size: 1em;
    position: fixed;
    opacity: 0.95;
    background-color: lightpink;
    overflow: hidden;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 9;
    margin:0;
    padding:0;
    list-style-type:none;
}
.bar div ul li
{
    display: block;
    float: right;
    text-align: center;
    color:#fff;
    font-size: 1 em;
    border: 1px;
    padding: 9px;
}
.bar div ul li a
{
    
    text-align: center;
    text-decoration:none;
    color:#fff;
}
.bar div ul li a:hover 
{
    background-color: #fff;
    color: lightpink;
  }

.mypic
{
    position:relative;
    width: 50%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkgray;
    z-index: 1;
}
/*針對螢幕大小改變圖片*/
.big_screen-device
{
    position:relative;
    width: 100%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkgray;
    z-index: 1;
}
.small-device
{
    position:relative;
    width: 100%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px darkgray;
    z-index: 1;
}

.article
{
    position:relative;
    top: 70px;
    
}